.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius);
  background-color: var(--dark);
  padding: var(--space);
}

.avatar {
  max-width: 100px;
  width: 100%;
  border-radius: var(--radius);
}