h1,
h3,
h5 {
  font-family: 'Lobster', sans-serif;
  text-align: center;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  margin: 0;
}

a,
q,
input,
button,
p {
  font-family: 'Lato', serif;
  line-height: 24px;
}

q {
  font-style: italic;
}