.navbar {
  grid-area: navbar;
  border-radius: var(--radius);
}

.header {
  font-size: 36px;
}

.sub-header {
  font-size: 24px;
  color: var(--grey);
}

.link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.link-list-item:not(:last-child) {
  margin-right: var(--space);
}